.breweryList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    margin: 16px 32px 0 32px;
    .breweryCard {
        aspect-ratio: 1/1.5;
        background-color: lightgray;
        border-radius: 4px;
        background: #ffffff40;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 8px;
        color: #070065;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
            width: 100%;
        }
        .type {
            width: 100%;
        }
        .bottomCard {
            display:flex;
            justify-content: space-between;
            .seeOnMaps {

            }
            .more {
                width: 24px;
                aspect-ratio: 1/1;
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        backdrop-filter: blur(4px);
        .innerOverlay {
            color: white;
            width: 80%;
            padding: 16px;
            border-radius: 4px;
            background: #ecffa040;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            .content {
                text-overflow: fit-content;
            }
        }
    }
}
