body{
  margin: 0;
  background-image: url(backgroung_image.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
.selectForm {
  display:flex;
  justify-content: center;
  gap : 16px
}
.form{
  display:flex;
  justify-content: center;
}

.App {
  min-height: 100vh;
}